.table1{
    margin-top: 8%;
    width: 80%;
    margin-left: 10%;
    /* margin-right: 15%; */
    position: relative;
}

.txt{
    margin-left: 40%;
    margin-top: -5%;
    position: absolute;
}

.bck{
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
}
